APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


LEMON_SQUEEZY_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5NGQ1OWNlZi1kYmI4LTRlYTUtYjE3OC1kMjU0MGZjZDY5MTkiLCJqdGkiOiI5Njk1ZmEyYmIzMWNlYzhiMjUyMzgyZWU3MjU1YjUxZjY3ZTFjYjJjYTRiOTg2YjM2YmFhMThiOTE3MWNmMTI3ZTQ5OWYxZTdhNjk4MTlkMCIsImlhdCI6MTY5MzQ2NTE0MS45MjM2NzgsIm5iZiI6MTY5MzQ2NTE0MS45MjM2OCwiZXhwIjoxNzI1MDg3NTQxLjkxMDEyMywic3ViIjoiNjI5NTM4Iiwic2NvcGVzIjpbXX0.VJwyG_AJh-QFjFSctKdfOO8lloLhheihoe66p6wpKSiLpgMYyJ73mvvi9hVO2sFsPxwTcZ5Dcf4F26IKlFrrikEEKoCYBmwL1qAQoEhMC60w0yjBY5aqfUapq96gIS9oMIFJOmAA9_kszSqsBrqh6n6Ef8b32P7YBxk6Upee-4MG8ejYoU4nKKRw0GZuELGhcVtZ2J7synAXmZwVgvHo4iexxek0qSa9ZC2-3LeaJ6mayLExsm5UjnHsLuORMghzn0q2IFqSG-wWa0yhtHVVt0tvVMoLIC73q79zo6dWK2i6ypvbliUKj4ZQbkmxSoSy1Uw731qPV7DCAiXiBH7VuugxDxswpaXH30wY4-AoxLGGsEvrGbx5Yx7eipHWyIBDI58wOxe5Qy0jXgXQqhe-ecjSm1nM50qwKd2EtqWo5xiQs6Plk3DUX7JL_hJqRwTbNo1O7wFEPDP8WCeGqdQkYx6jzrKqmEysY6GlfHm7mUrsj0h0ytxvWX-Xvlp9DSHT
LEMON_SQUEEZY_STORE=25678
LEMON_SQUEEZY_BASE_URL=https://api.lemonsqueezy.com
